<%- include("partials/header") %>

<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center my-4">Welcome to the User Management System</h1>
    <div class="buttons-container text-center">
        <a class="btn btn-primary" href="/users" target="_blank" role="button">Listar Usuários</a>
        <a class="btn btn-secondary" href="/users/new" role="button">Adicionar Usuário</a>
    </div>

</div>


<%- include("partials/footer") %>
